<h1>All Contestants</h1>

<% @contestants.each do |contestant| %>
<b><p><%= contestant.name %> </p></b>
 <p>Projects</p>       
 <% contestant.projects.each do |project| %>
  <li> <%= project.name %> </li>
    <% end %>
<% end %>
